absl-py==1.1.0
antspyx==0.3.2
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
-e git+ssh://git@github.com/ClandininLab/bifrost.git@4ff373a373b100ee32e6c69156ee6ed92354ef8d#egg=bifrost
bleach==6.0.0
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
chart-studio==1.1.0
comm==0.1.3
ConfigArgParse==1.7
connection-pool==0.0.3
cycler==0.10.0
datrie==0.8.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
docutils==0.20.1
dpath==2.1.6
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.18.0
flatbuffers==1.12
fqdn==1.5.1
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
h5py==3.7.0
humanfriendly==10.0
idna==3.3
imageio==2.19.3
importlib-metadata==4.11.4
ipykernel==6.25.0
ipython==8.14.0
isoduration==20.11.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.24.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libclang==14.0.1
Markdown==3.3.7
MarkupSafe==2.1.3
matplotlib==3.4.2
matplotlib-inline==0.1.6
mistune==3.0.1
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.1
nest-asyncio==1.5.7
networkx==2.8.4
neurite @ git+https://github.com/ClandininLab/neurite.git@40f054e3dd45a5bcc47999b549e2e60e05eaf4ce
nibabel==4.0.1
notebook_shim==0.2.3
nptyping==2.5.0
numpy==1.20.3
oauthlib==3.2.0
opt-einsum==3.3.0
overrides==7.3.1
packaging==21.3
pandas==1.3.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
plac==1.3.5
platformdirs==3.9.1
plotly==5.9.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.19.4
psutil==5.9.5
ptyprocess==0.7.0
PuLP==2.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.15.1
pynrrd==1.0.0
pyparsing==3.0.9
pystrum @ git+https://github.com/ClandininLab/pystrum.git@f8f5c3598eb3af029e0e718279f955085bab3f25
python-dateutil==2.8.1
python-json-logger==2.0.7
pytz==2021.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==25.1.0
referencing==0.30.0
requests==2.28.0
requests-oauthlib==1.3.1
reretry==0.11.8
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.9.2
rsa==4.8
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.6.3
seaborn==0.13.2
Send2Trash==1.8.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
snakemake==7.30.2
sniffio==1.3.0
soupsieve==2.4.1
stack-data==0.6.2
statsmodels==0.13.2
stopit==1.1.2
tabulate==0.9.0
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.17.1
threadpoolctl==3.0.0
throttler==1.2.2
tifffile==2022.5.4
tinycss2==1.2.1
tomli==2.0.1
toposort==1.10
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.2.0
uri-template==1.3.0
urllib3==1.26.9
voxelmorph @ git+https://github.com/ClandininLab/voxelmorph.git@ed92ff23455c8b8942a0c38ee8988223b71410c5
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.1.2
wrapt==1.14.1
yte==1.5.1
zipp==3.8.0
